/** PlantBot CSS3 file **/

html {
    background: url(../images/tropical.jpg) no-repeat center center fixed;
    background-color: rgba(51, 153, 51, 0.9) !important;
    /*background-blend-mode: lighten;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    z-index: 1;
}

body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color: #006633;
    font-weight: 200;
    line-height: 40px;
    display: flex;
    flex-direction: column;
}

#header {
    display: inline-block;
    width: 100%;
    background: rgba(51, 153, 51, 0.2);
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    text-align: center;
}

#headerIndex {
    padding-bottom: 125px;
}

#navName {
    display: inline-block;
    padding: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    font-size: 4em;
    color: #006633;
}

#navPic {
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
}

#nav1 {
    margin-left: 20px;
    padding-right: 20px;
}

#nav2 {
    padding-left: 20px;
    border-left: 3px solid #efefef;
}

#indexPic {
    display: inline-block;
}

.container {
    display: flex;
    /* or inline-flex */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center {
    width: 50% !important;
    text-align: center !important;
    line-height: 50px;
    margin: auto;
    color: #006633 !important;
    border: 3px solid #006633;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: rgba(51, 153, 51, 0.2);
    z-index: 50;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttonAlign {
    clear: both;
    align: center;
    display: inline-block;
    text-decoration: none;
}

h1 {
    display: inline-block;
    color: #006633;
    font-size: 3em;
    line-height: 150px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /*padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;*/
}

h2 {
   display: inline-block;
    color: #006633;
    font-size: 1.5em; 
}

hr {
    margin: 20px;
    border: 0;
    border-top: 3px solid #eee;
}

.formGroup {
    display: block;
}

.left,
.right {
    display: inline-block;
    line-height: 30px;
}

input[type=text],
select {
    width: auto;
    padding-left: 20px;
    margin: 10px;
    display: inline-block;
    border: 2px solid #006633;
    border-radius: 7px;
    box-sizing: border-box;
    line-height: 25px;
}

input[type=submit]:hover {
    background-color: #45a049;
    border: 2px solid #45a049;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.button {
    margin: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 20px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #5cb85c;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.button:hover {
    text-decoration: none;
    color: #006633 !important;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #006633;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.footer {
    text-align: center !important;
    width: 100%;
    font-weight: 700 !important;
    height: 50px;
    margin-bottom: -50px;
    margin-top: auto
}

nav {
    align-self: flex-start;
}

footer {
    align-self: flex-end;
    padding-top: 50px !important;
    margin-top: auto
}
